{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["babel-plugin-transform-class-properties"]
}
