.show-card {
  float: left;
  margin-right: 2%;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 32%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 2%;
}
